
/* Fonts */
@font-face {
    font-family: 'almoni-dl-light';
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/almoni-dl-aaa-300.eot?1");
    src: url("../fonts/almoni-dl-aaa-300.eot?#iefix") format("embedded-opentype"), url("../fonts/almoni-dl-aaa-300.ttf?1") format("truetype"), url("../fonts/almoni-dl-aaa-300.woff?1") format("woff"), url("../fonts/almoni-dl-aaa-300.svg#almoni-dl-300") format("svg")
}

@font-face {
    font-family: 'almoni-dl-normal';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/almoni-dl-aaa-400.eot?1");
    src: url("../fonts/almoni-dl-aaa-400.eot?#iefix") format("embedded-opentype"), url("../fonts/almoni-dl-aaa-400.ttf?1") format("truetype"), url("../fonts/almoni-dl-aaa-400.woff?1") format("woff"), url("../fonts/almoni-dl-aaa-400.svg#almoni-dl-400") format("svg")
}

@font-face {
    font-family: 'almoni-dl-bold';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/almoni-dl-aaa-700.eot?1");
    src: url("../fonts/almoni-dl-aaa-700.eot?#iefix") format("embedded-opentype"), url("../fonts/almoni-dl-aaa-700.ttf?1") format("truetype"), url("../fonts/almoni-dl-aaa-700.woff?1") format("woff"), url("../fonts/almoni-dl-aaa-700.svg#almoni-dl-700") format("svg")
}
@font-face {
    font-family: 'almoni-dl-black';
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/almoni-dl-aaa-900.eot?1");
    src: url("../fonts/almoni-dl-aaa-900.eot?#iefix") format("embedded-opentype"), url("../fonts/almoni-dl-aaa-900.ttf?1") format("truetype"), url("../fonts/almoni-dl-aaa-900.woff?1") format("woff"), url("../fonts/almoni-dl-aaa-900.svg#almoni-dl-900") format("svg")
}