@media only screen and (max-width:1660px){

}
@media only screen and (max-width:1460px){

}
@media only screen  and (max-width:1399px)
{

    .banner{padding: 75px 0px;}
    .banner .gander_blog {margin-top: 40px;}
    .banner .gander_blog a {width: 200px;padding: 21px 13px 21px;}
    .banner .gander_blog a em{margin: 15px 0px;}
    .banner .gander_blog a img:first-child{max-width: 100px;margin: 0 auto;}

}
@media only screen and (max-width:1365px) /* container size */
{
    header{padding: 0px 20px;}
    header .login {right: 25px;top: 16px;}


}

@media only screen and (max-width:1279px) /* if tablate and mobile view is same */
{
    .brand{max-width: 150px;}
    header .right_col {width: calc(100% - 150px);padding-left: 0px;}
    header .right_col nav>ul>li {padding: 17px 8px;}
    header .right_col .link a:first-child {margin-right: 10px;}
    .main {padding-top: 62px;}
    .wrapper{padding: 0px 20px;}
    header .login {right: 25px;top: 10px;}

    /* dashbord page */
    .dashbord_content_blog .plane_col .col img{max-width: 98px;margin: 0 auto;}
    .dashbord_content_blog .plane_col .col h3{font-size: 18px;line-height: 26px;    margin-top: 26.7px;}



}
@media only screen and (max-width: 1023px)
{
    .main {padding-top: 64px;}
    header .login {right: 20px;top: 11.5px;}
    .hamburger{position: fixed;z-index: 99999; top: 22px;right: 20px;width:18px;height: 18px;display: block;}
    .hamburger span{position: absolute;height: 2px;top: 50%;width: 100%;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;background:#850C70;}
    .hamburger span:before{position: absolute;content: '';width: 100%;height: 2px;background: #850C70;top: 8px;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
    .hamburger span:after{position: absolute;content: '';width: 100%;height: 2px;background: #850C70;top: -8px;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
    .hamburger.active span:before{transform: rotate(-45deg);top: 0;}
    .hamburger.active span:after{transform: rotate(45deg);top: 0;}
    .hamburger.active span{background-color: transparent;}
    header .right_col{position: fixed;right: 0;top: 64.02px;width: 100%;height: calc(100% -  64.02px);background-color: #fff;margin-top: 0px;transform: translateX(-100%);transition: 0.4s ease all;-o-transition: 0.4s ease all;-moz-transition: 0.4s ease all;-webkit-transition: 0.4s ease all;    z-index: 999;margin: 0px;overflow: auto;}
    header .right_col.active{transform: translateX(0px)}
    .brand {max-width: 154px;}
    header{padding: 13.813px 16px;}
    header .right_col{display: block;}
    header .right_col nav>ul{display: block;padding-top: 30px;}
    header .right_col nav>ul>li{padding: 0px;margin-bottom: 22px;padding-left: 26px;}
    header .right_col nav>ul>li>a{font-size: 18px;line-height: 26px;}
    header .right_col .link a{display: block;padding-left: 26px;font-size: 18px;line-height: 26px;margin-bottom: 22px;}
    header .right_col ul li .dropdown{transition: none;position: relative;top: 0;width: calc(100% + 26px);opacity: 1;pointer-events: auto;left: -26px;background-color: #F7F6F1;box-shadow: none;}
    header .right_col nav>ul>li{background-color: transparent !important;}
    .banner h1 {font-size: 36px;line-height: 42px;}
    .banner .gander_blog a img:first-child {max-width: 70px;}
    .banner .gander_blog a {width: 180px; }
    footer ul {margin-bottom: 30px;}

    /* dashbord page */
    .dashbord_content_blog .left_col {width: 100%;padding-right: 0;padding-top: 30px;}
    .dashbord_content_blog .weight_tracker {margin-top: 30px;}
    .dashbord_content_blog .right_col {width: 100%;max-width: 420px;}


}
@media only screen and (max-width:767px)
{
    header .login {right: 17px;top: 11.5px;}
    .wrapper {padding: 0px 15px;}
    .banner{padding: 0px;padding-bottom: 61px;}
    .banner .bg{position: relative;height: 280px;}
    .banner .wrapper{padding: 0px ;padding-top: 18px;}
    .banner h1{padding: 0px 14px;margin-bottom: 12px;}
    .banner p{padding: 0px 14px;}
    .banner p br{display: none;}
    .banner .gander_blog {margin-top: 24px;display: flex;}
    .banner .gander_blog a{width: 50%;border-radius: 0px;    padding: 23px 20px 16px;}
    .banner .gander_blog .female{margin: 0px;}
    .banner .gander_blog a img:first-child {max-width: 114px;}
    footer {border-top: 1px solid rgba(112, 112, 112, 0.40);    padding-top: 22.5px;}
    footer .bottom_col .left_c {width: 100%;text-align: left;}
    footer .bottom_col .right_c {width: 100%;padding-left: 0;}
    footer .bottom_col .left_c a{display: block;margin-bottom: 23px;}
    /* dashbord page */
    .comman_banner {padding-top: 0px;    min-height: 164px;}
    .comman_banner .bg{height: 140px;position: relative;}
    h1{font-size: 36px;line-height: 42px;}
    .comman_banner h1{color: #850C70;margin-top: 30px;}
    .dashbord_content_blog .left_col {padding-top: 18px;}
    .dashbord_content_blog .plane_col {justify-content: space-between;    margin-top: 25px;}
    .dashbord_content_blog .plane_col .col {width: 45.22%;padding: 31px 20px;margin-right: 0%;margin-bottom: 30px;}
    .dashbord_content_blog .weight_tracker {margin-top: 20px;}
    .dashbord_content_blog{margin-bottom: 61.5px;}





















}
