@charset "utf-8";
/* CSS Document */
/*-----------------------------------------------------------------------------

Prototype Version:  2.4

*/

/* Table of Contents
-----------------------------------------------------------------------------

1. Clean Base
2. Base Typography
3. Images
4. Links
5. Forms
6. Tables
7. Framework

*/

/* 1. Create a Clean Base
------------------------------------------------------------------------------*/

html, body, br, hr, div, span, a, object, iframe, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, p, blockquote, q, address,
small, big, cite, dfn, ins, del, i, em, b, strong, sup, sub, strike, pre, code, samp, kbd, var, tt, form, fieldset, legend, label,input, textarea, option, .nobox {background: transparent; border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}

blockquote, q {quotes: none;}
br {height: 0;}
ul, ol, dl, li {margin:0; padding:0;  color: #555555; font-size: 14px; line-height: 24px;}
html, body{height: 100%; -webkit-appearance:none; border:none; -webkit-text-size-adjust:none;}
body{position:relative;}

/* Class for clearing floats */
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
.cf:after,.cf:before{display: table;content: ''}
.cf:after{clear: both;}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* 2. Define Base Typography
------------------------------------------------------------------------------*/

/* Create the Default Headers  */
h1, h2, h3, h4, h5, h6 {}

/* Specific Header Settings */
h1 {font-weight:bold; font-size:60px;line-height: 65px; color:#fff; }
h2 {font-weight:bold; font-size:24px; color:#555; }
h3 {font-size:18px; }
h4 {font-size:16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

/* Create the Default Paragraphs */
p { color: #252529; font-size:18px; line-height: 26px;font-weight: 400;}

/* Other Typo */
strong {font-weight: bold;}
hr {border:0 #000 solid; border-top-width: 1px; clear: both; height: 0;}
ol {list-style: decimal;}
ul {list-style: disc;}

/* 3. Images
------------------------------------------------------------------------------*/

/* Remove border around linked images */
img {border: 0; border-style: none;}

/* 4. Links
------------------------------------------------------------------------------*/

/* Default Link Types */
a {color: #252529; font-size: 16px; text-decoration:none;line-height: 22px;font-weight: 600;}
a:hover {}
a:active {color: #e8941a;}
a:focus {outline: none;}
a.current{color: #e8941a;}


/* 5. Forms
------------------------------------------------------------------------------*/

input[type='submit']{ -webkit-appearance:none; border:none; -webkit-text-size-adjust:none; }
select{-webkit-appearance:none; -moz-appearance:none; -o-appearance:none; appearance:none;}
input[type='text'],input[type='tel'],input[type='email'],input[type='password']{}
textarea{overflow:auto;}
::-webkit-input-placeholder{ color: #96969B;}
:-moz-placeholder{ color: #96969B;}
::-moz-placeholder{ color: #96969B;}
:-ms-input-placeholder{ color: #96969B;}
::-ms-input-placeholder{ color: #96969B;}
:placeholder-shown{ color: #96969B;}

/* Removes fieldset borders. even on Opea 7 */
fieldset {border: 1px solid transparent;}

/* 6. Tables
------------------------------------------------------------------------------*/

/* Table Fixes */
table {border-spacing: 0; border-collapse: collapse;}
td {text-align: left; font-weight: normal;}


/* 7. Framework
------------------------------------------------------------------------------*/

/* Common CSS */
/*common margin style*/
.m0{margin:0 !important;}
.mr20{margin-right:20px;}
.mt20{margin-top:20px !important;}
.mb80{margin-bottom:80px !important;}
.mt25{ margin-top:25px !important;}
.mt50{ margin-top:50px !important;}

/*all padding zero*/
.p0{padding:0 !important;}
.pt20{padding-top:20px;}

/*common display style*/
.dis-b{display:block}
.pos_rel{ position:relative;}
.hidden{ display:none !important;}

/*border*/
.no_bdr{border:none !important;}

/*common fonts style*/
.f16{ font-size:16px !important;}
.f18{ font-size:18px !important;}
.fbold{font-weight:bold;}

/*transition effect*/
.tra,a,.in,.sub{-webkit-transition: all 0.4s ease;-moz-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.btn{background-color: #850C70;color: #fff;font-weight: bold; padding: 9px 35.94px;border-radius: 30px;}
.btn:hover{background-color:#0070ad;}

/* Page Layout */
body{ font-family: 'Proxima Nova';}
#full_wrapper{min-height: 100%; height: auto !important; height: 100%; margin: 0 auto; /* the bottom margin is the negative value of the footer's height */}
.wrapper{ width:100%; margin:0 auto;max-width: 1110px;}
.content{ margin:0 auto; padding:0; width:100%;}
img{max-width: 100%;}
a{display: inline-block;}
.bg{background-repeat: no-repeat;background-position: center;background-size: cover;position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
/* Header*/
.main{padding-top: 75px;}
header{position: fixed;z-index: 999;width: 100%;left: 0;top: 0;display: flex;justify-content: space-between;flex-wrap: wrap;align-items: center;padding-left: 58px;padding-right: 55px;background-color: #fff;}
header .right_col{width: calc(100% - 220px);display: flex;justify-content: space-between;flex-wrap: wrap;align-items: center;padding-left: 37px;}
header .right_col nav>ul{ list-style: none;display: flex;justify-content: flex-start;align-items: center;}
header .right_col nav>ul>li{padding:23.5px 18px;position: relative;}
header .right_col nav>ul>li:hover{background-color: #F7F6F1;}
header .right_col nav>ul>li:last-child a{color: #72175E;}
header .right_col a img{position: relative;top: 4px;}
header .right_col a:hover{color: #72175E;}
header .right_col .link a:first-child{margin-right: 35px;}
header .right_col .drop{position: relative;top: 5px;margin-left: 4px;}
header .right_col .drop img{transition: 0.4s ease all;}
header .right_col ul li .drop.active img{transform: rotateX(180deg);}
header .right_col ul li .dropdown{display: block;position: absolute;background-color: #FFFFFF;box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.11);list-style: none;width: 211px;padding:13px 20px 20px; top:100%;left: 0;transition: 0.4s ease all;opacity: 0;pointer-events: none;transform: translateY(10px);}
header .right_col ul li .dropdown.active{opacity: 1;pointer-events: auto;transform: translateY(0px);}
header .right_col ul li .dropdown li{margin-bottom: 9.5px;}
header .right_col ul li .dropdown a{color: #96969B;}
header .right_col ul li .dropdown a:hover{color: #72175E;}
header.login_open .right_col {opacity: 0;}
header .login{position: absolute;right: 75px;top: 17px;opacity: 0;pointer-events: none;}
header.login_open .login{opacity: 1;pointer-events: auto}
.hamburger{display: none;}

.brand img{display: block;}
.banner{padding-top: 117px;padding-bottom: 173px;position: relative;}
.banner .wrapper{position: relative;}
.banner h1{font-size: 60px;line-height: 65px;color: #850C70;font-weight: bold;margin-bottom: 7px;}
.banner .gander_blog{margin-top: 59px;}
.banner .gander_blog a{width: 250px;border-radius: 8px;padding: 31px 30px 33px;color: #fff;text-align: center;}
.banner .gander_blog a:hover{background-color: #252529}
.banner .gander_blog a em{display: block;font-style: normal;margin-top: 24px;margin-bottom: 21px;}
.banner .gander_blog .female{background-color: #F6BF35;margin-right: 30px;}
.banner .gander_blog .male{background-color: #850C70;}
/* Push */
.push{}
/* Footer */
footer{padding-top: 35.5px;}
footer ul {list-style: none;display: flex;justify-content:flex-start;flex-wrap: wrap;margin-bottom: 58px;}
footer ul li{margin-right: 24px;position: relative;}
footer ul li:after{content: '';position: absolute;width: 2px;height: 20px;top:2px;right: -12px;background-color: #252529;}
footer ul li:last-child:after{display: none;}
footer ul li a:hover{color: #850C70;}
footer .bottom_col{display: flex;justify-content: space-between;flex-wrap: wrap;}
footer .bottom_col .left_c{width: 105px;text-align: right;}
footer .bottom_col .left_c a{margin-bottom: 25px;}
footer .bottom_col .right_c{width: calc(100% - 105px);padding-left: 85px;}
footer .bottom_col .right_c p{font-size: 13px;line-height: 20px;}

/* popup */
.popup{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color:rgba(26, 26, 26, 0.20);z-index: 9991;display: flex;justify-content: center;align-items: center;opacity: 0;pointer-events: none;transition: 0.4s ease all;}
.login_popup.active,.password_popup.active {opacity: 1;pointer-events: auto;}
.popup .inner{width: 410px;background-color: #fff;border-radius: 8px;padding: 41px 40px 58px;position: relative;}
.popup .inner>img{position: absolute;right:13.5px;top: 15px;cursor: pointer;}
.popup .inner h2{color: #850C70;font-size: 45px;line-height: 50px;margin-bottom: 22px;}
.popup .inner p{margin-bottom: 28px;}
.popup .inner .in{width: 100%;background-color: #F7F6F1;border: 1px solid #F7F6F1;border-radius:8px;height: 45px;margin-bottom: 20px;padding-left: 22px;font-size: 16px;font-weight: 600;color: #96969B;}
.popup .inner .in:focus{border-color: #850C70;}
.popup .inner .sub{cursor: pointer;padding: 11px 51px;}
.popup .inner .forgot{color: #252529;font-size: 13px;line-height: 20px;font-weight: 400;margin-top: 33px;}
.popup .inner .forgot:hover{color: #850C70;}
.password_popup .inner{width: 555px;}

/* dashbord  page */
.comman_banner{position: relative;min-height: 300px;padding-top: 85px;}
.comman_banner .wrapper{position: relative;}

.dashbord_content_blog{}
.dashbord_content_blog .wrapper{display: flex;justify-content: space-between;flex-wrap: wrap;}
.dashbord_content_blog .left_col{width: calc(100% - 350px);padding-right: 52px;padding-top: 66px;}
.dashbord_content_blog .right_col{width: 350px;}
.dashbord_content_blog .plane_col{display: flex;justify-content:flex-start;flex-wrap: wrap;text-align: center;margin-top: 34px;}
.dashbord_content_blog .plane_col .col{width:31.074%;background-color: #F7F6F1;border-radius: 8px;padding: 41px 20px;margin-right: 3.33%}
.dashbord_content_blog .plane_col .col h3{color: #850C70;font-size: 24px;line-height: 36px;font-weight: 400;margin-top: 45.7px;}
.dashbord_content_blog .plane_col .col:last-child{margin-right: 0px;}
.dashbord_content_blog .weight_tracker{margin-top: -55px;}

.weight_tracker{border-radius: 8px;box-shadow: 0px 15px 33px rgba(0, 0, 0, 0.1);background-color: #fff;position: relative;z-index: 9;}
.weight_tracker h2{color: #fff;background-color: #850C70;font-size: 18px;font-weight: bold;line-height: 55px;padding-left: 22px;border-top-left-radius: 8px;border-top-right-radius: 8px;}
.weight_tracker h2 img{position: relative;margin-right: 18px;top: 4px;}
.weight_tracker .weight_tracker_content{padding: 11px 15px 25px;}
.weight_tracker .weight_kg{display: flex;justify-content:space-between;flex-wrap: wrap;padding-bottom: 17.5px;border-bottom: 1px solid #D5D5D5;}
.weight_tracker .weight_kg .col{width: 50%;position: relative;}
.weight_tracker .weight_kg .col h3{color: #252529;font-size: 17px;line-height: 28px;font-weight: 400;}
.weight_tracker .weight_kg .col h4{color: #007AC2;font-size: 36px;line-height: 50px;margin-top: 11px;}
.weight_tracker .weight_kg .col+.col h4{color: #850C70;}
.weight_tracker .weight_kg .col+.col{padding-left: 10px;}
.weight_tracker .weight_kg .col+.col:after{content: '';position: absolute;left: -10px;;height: 100%;width: 1px;background-color: #D5D5D5;top: 0;}
.weight_tracker .summary_progress_tab{border-bottom: 1px solid #D5D5D5;padding-bottom: 24px;}
.weight_tracker .summary_progress_tab ul{list-style: none;display: flex;justify-content: space-between;border-bottom: 1px solid #D5D5D5;}
.weight_tracker .summary_progress_tab ul li{width: 50%;line-height: 61px;font-size: 16px;color: #96969B;text-align: center;font-weight: 600;cursor: pointer; display: flex;justify-content: center;align-items: center;transition: 0.4s ease all;position: relative;}
.weight_tracker .summary_progress_tab ul li:after{content: '';position: absolute;left: 0;height: 4px;width: 0%;bottom: 0;background-color: #850C70;transition: 0.4s ease all;}
.weight_tracker .summary_progress_tab ul li+li:after{left: auto;right: 0;}
.weight_tracker .summary_progress_tab ul li.active:after{width: 100%}
.weight_tracker .summary_progress_tab ul li svg{margin-right: 10px;fill:#96969B;transition: 0.4s ease all;}
.weight_tracker .summary_progress_tab ul li.active,.weight_tracker .summary_progress_tab ul li:hover{color: #850C70}
.weight_tracker .summary_progress_tab ul li.active svg,.weight_tracker .summary_progress_tab ul li:hover svg{fill:#850C70;}
.weight_tracker .summary_progress_tab .tab_content{text-align: center;position: relative;}
.weight_tracker .summary_progress_tab .tab_content .col{position: absolute;left: 0;top: 0;opacity: 0;pointer-events: none;width: 100%;}
.weight_tracker .summary_progress_tab .tab_content .col.active{opacity: 1;pointer-events: auto;}
.weight_tracker .summary_progress_tab .tab_content .circle{margin-top: 34px;position: relative;}
.weight_tracker .summary_progress_tab .tab_content .circle .value{position: absolute;left: 0;top: 0;color:#F6BF35;font-size: 36px;line-height: 50px;font-weight: bold;bottom: 0;right: 0;margin: auto;height: 50px;}
.weight_tracker .summary_progress_tab .tab_content h4{color: #252529;font-size: 13px;line-height: 20px;font-weight: 400;margin-top: 10px;}
.weight_tracker .summary_progress_tab .tab_content h4 img{margin-right: 8px;}
.weight_tracker .summary_progress_tab .tab_content .inner{display: flex;justify-content: space-between;flex-wrap: wrap;align-items: center;margin-top: 22px;}
.weight_tracker .summary_progress_tab .tab_content .inner .sub{cursor: pointer;font-size: 12px;padding: 13px 34.7px;}
.weight_tracker .summary_progress_tab .tab_content .inner .colin{width: calc(100% - 120px);position: relative;border-radius: 5px;overflow: hidden;}
.weight_tracker .summary_progress_tab .tab_content .inner .colin .in{width: 100%;height: 45px;background-color: #F7F6F1;padding-left: 25px;color: #252529;font-size: 16px;font-weight: 600;padding-right: 34px;}
.weight_tracker .summary_progress_tab .tab_content .inner .colin span{position: absolute;right: 0;top: 0;height: 100%;width:32px;color: #252529;font-size: 16px;font-weight: 600;line-height: 45px;background-color: #efece0;text-align: left;}
.weight_tracker .summary_progress_tab .tab_content .inner .colin .in::-webkit-input-placeholder{ color: #252529;}
.weight_tracker .summary_progress_tab .tab_content .inner .colin .in:-moz-placeholder{ color: #252529;}
.weight_tracker .summary_progress_tab .tab_content .inner .colin .in::-moz-placeholder{ color: #252529;}
.weight_tracker .summary_progress_tab .tab_content .inner .colin .in:-ms-input-placeholder{ color: #252529;}
.weight_tracker .summary_progress_tab .tab_content .inner .colin .in::-ms-input-placeholder{ color: #252529;}
.weight_tracker .summary_progress_tab .tab_content .inner .colin .in:placeholder-shown{ color: #252529;}
.weight_tracker .more_info{color: #252529;font-size: 16px;line-height: 22px;font-weight: 600;margin-top: 22px;}
.weight_tracker .more_info img{position: relative;margin-left: 5px;top: 2px;transition: 0.4s ease all;}
.weight_tracker .more_info:hover img{transform: translateX(5px)}
.weight_tracker .more_info:hover{color: #850C70;}




























